<div>
  <div>
    <%= form_for @package do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :city %>
        <%= f.text_field :city %>

        <%= f.submit %>
    <% end %>
  </div>
</div>


<li>
  <%= "Package Id: " + @package.id.to_s %>
  <%= "City Id: " + @package.city_db_id.to_s %>
  <%= "Booking Time: " + @package.created_at.to_s %>
</li>

<div>
  <form name="input" action="/create" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    City: <input type="text" name="city_id">
    Email: <input type="text" name="email_id">
    <input type="submit" value="Submit">
  </form>
</div>